* {
    margin: 0;
    text-decoration: none;
    color: #333;
    list-style: none;
}

.wrapper {
    overflow: hidden;
}

.slide {
    display: flex;
    transition: .3s;
}

.slide .card {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80vw;
    max-width: 250px;
    /*card ocupa 80vw da tela com o width acima e não é shrink = encolhido para caber na tela */
    /*Mas só tem no máximo 250px */
    flex-shrink: 0;
    padding: .9rem;
    border: 1px solid #333;
    background-color: #eee6;
    margin: .6rem;
    opacity: .6;
    transform: scale(.9);
    transition: .1s;
}

.slide:hover {
    will-change: transform;
}

.slide .card.active {
    opacity: 1;
    transform: scale(1);
}

[data-control='slide'] {
    display: flex;
    justify-content: center;
    margin-top: 19px;
    gap: .9rem;
}

[data-control='slide'] li a {
    display: block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #333;
    font-size: 0;
}

[data-control='slide'] li a:hover,
[data-control='slide'] li.active a {
    background-color: tomato;
}